@model IEnumerable<GuestBook.Models.Message>

@{
	var userName = Context.Session.GetString("Name");
}

<h6>View/GuestBook/Index</h6>

@if (!string.IsNullOrEmpty(userName))
{
	<h6>Привет, @userName! Войди с систему, чтобы написать своё сообщение</h6>
	<hr />
}
else
{
	<h6>Title -> Гостевой режим</h6>
	<h6>Привет, гость! Пожалуйста, войдите, чтобы оставить сообщение</h6>
	<hr />
}

<div class="form-group mb-12 d-flex flex-wrap gap-2">
	<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Вход в систему</a>
	<a asp-controller="Account" asp-action="Register" class="btn btn-info">Регистрация</a>
	<a asp-controller="Account" asp-action="Logout" class="btn btn-warning">Выход из системы</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.User.Name)</th>
			<th>@Html.DisplayNameFor(model => model.MessageContent)</th>
			<th>@Html.DisplayNameFor(model => model.MessageDate)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.User.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.MessageContent)</td>
				<td>@Html.DisplayFor(modelItem => item.MessageDate)</td>
			</tr>
		}
	</tbody>
</table>
