@model IEnumerable<GuestBook.Models.Message>

@{
	ViewData["Title"] = "Гостевой режим";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>View/GuestBook/Index</h6>
<h6>Title -> Гостевой режим</h6>
<h6>Есть возможность только читать сообщения</h6>

<p>
	<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Вход в систему</a>
	<a asp-controller="Account" asp-action="Register" class="btn btn-primary">Регистрация</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.User.Name)</th>
			<th>@Html.DisplayNameFor(model => model.MessageContent)</th>
			<th>@Html.DisplayNameFor(model => model.MessageDate)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.User.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.MessageContent)</td>
				<td>@Html.DisplayFor(modelItem => item.MessageDate)</td>
			</tr>
		}
	</tbody>
</table>
